################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/TaskManagementSystem/v17/TestStore/0
/src/API/obj/Debug/net7.0/API.AssemblyInfo.cs
*.vsidx
/src/API/obj/Debug/net7.0/API.AssemblyInfoInputs.cache
/src/API/obj/API.csproj.nuget.dgspec.json
/tests/UnitTests/obj/project.assets.json
/tests/UnitTests/obj/project.nuget.cache
/tests/UnitTests/obj/UnitTests.csproj.nuget.dgspec.json
/src/API/obj/Debug/net7.0/API.assets.cache
/src/API/obj/Debug/net7.0/API.csproj.AssemblyReference.cache
/src/API/obj/Debug/net7.0/API.GeneratedMSBuildEditorConfig.editorconfig
/tests/UnitTests/obj/Debug/net7.0/UnitTests.AssemblyInfo.cs
/tests/UnitTests/obj/Debug/net7.0/UnitTests.AssemblyInfoInputs.cache
/tests/UnitTests/obj/Debug/net7.0/UnitTests.assets.cache
/tests/UnitTests/obj/Debug/net7.0/UnitTests.csproj.AssemblyReference.cache
/tests/UnitTests/obj/Debug/net7.0/UnitTests.GeneratedMSBuildEditorConfig.editorconfig
/src/Application/obj/Application.csproj.nuget.dgspec.json
/src/Application/obj/project.assets.json
/src/Application/obj/project.nuget.cache
/src/API/obj/project.assets.json
/src/API/obj/project.nuget.cache
/src/Application/obj/Debug/net7.0/Application.AssemblyInfo.cs
/src/Application/obj/Debug/net7.0/Application.AssemblyInfoInputs.cache
/src/Application/obj/Debug/net7.0/Application.assets.cache
/src/Application/obj/Debug/net7.0/Application.csproj.AssemblyReference.cache
/src/Application/obj/Debug/net7.0/Application.GeneratedMSBuildEditorConfig.editorconfig
/src/Domain/obj/Debug/net7.0/Domain.AssemblyInfo.cs
/src/Domain/obj/Debug/net7.0/Domain.AssemblyInfoInputs.cache
/src/Domain/obj/Debug/net7.0/Domain.assets.cache
/src/Domain/obj/Debug/net7.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/src/Domain/obj/Domain.csproj.nuget.dgspec.json
/src/Domain/obj/project.assets.json
/src/Domain/obj/project.nuget.cache
/tests/UnitTests/bin/Debug/net7.0/CoverletSourceRootsMapping
/src/Infra/obj/Debug/net7.0/Infra.AssemblyInfo.cs
/src/Infra/obj/Debug/net7.0/Infra.AssemblyInfoInputs.cache
/src/Infra/obj/Debug/net7.0/Infra.assets.cache
/src/Infra/obj/Debug/net7.0/Infra.csproj.AssemblyReference.cache
/src/Infra/obj/Debug/net7.0/Infra.GeneratedMSBuildEditorConfig.editorconfig
/src/Infra/obj/Infra.csproj.nuget.dgspec.json
/src/Infra/obj/project.assets.json
/src/Infra/obj/project.nuget.cache
/.vs/TaskManagementSystem
/src/API/obj/Debug/net7.0/ref/API.dll
/.vs
/src/API/bin/Debug/net7.0
/src/API/obj
/src/Application/bin/Debug/net7.0
/src/Application/obj
/src/Domain/bin/Debug/net7.0
/src/Domain/obj/Debug/net7.0
/src/Domain/obj
/src/Infra/bin/Debug/net7.0
/src/Infra/obj
/tests/UnitTests/bin/Debug/net7.0
/tests/UnitTests/obj/Debug/net7.0
/tests/UnitTests/obj/project.assets.json
/tests/UnitTests/obj/project.nuget.cache
/tests/UnitTests/obj/UnitTests.csproj.nuget.dgspec.json
/tests/UnitTests/obj/UnitTests.csproj.nuget.g.props
/tests/UnitTests/obj/UnitTests.csproj.nuget.g.targets
/tests/UnitTests/obj/Release/net7.0
/tests/UnitTests/bin/Release/net7.0
/src/Application/bin/Debug/net7.0/Application.dll
/src/API/bin/Debug/net7.0/API.dll
/src/API/bin/Debug/net7.0/API.exe
/src/API/bin/Debug/net7.0/API.pdb
/src/API/bin/Debug/net7.0/Application.dll
/src/API/bin/Debug/net7.0/Domain.dll
/src/API/bin/Debug/net7.0/Application.pdb
/src/API/bin/Debug/net7.0/Infra.dll
/src/API/bin/Debug/net7.0/Infra.pdb
/src/API/bin/Debug/net7.0/Domain.pdb
/src/Application/bin/Debug/net7.0/Application.pdb
/src/Application/bin/Debug/net7.0/Domain.dll
/src/Application/bin/Debug/net7.0/Domain.pdb
/src/Application/obj/Debug/net7.0/ref/Application.dll
/src/Application/obj/Debug/net7.0/Application.dll
/src/Application/obj/Debug/net7.0/Application.pdb
/src/Application/obj/Debug/net7.0/refint/Application.dll
/src/Domain/bin/Debug/net7.0/Domain.dll
/src/Domain/bin/Debug/net7.0/Domain.pdb
/src/Domain/obj/Debug/net7.0/Domain.dll
/src/Domain/obj/Debug/net7.0/Domain.pdb
/src/Domain/obj/Debug/net7.0/refint/Domain.dll
/src/Domain/obj/Debug/net7.0/ref/Domain.dll
/src/API/obj/Debug/net7.0/API.dll
/src/API/obj/Debug/net7.0/API.pdb
/src/API/obj/Debug/net7.0/apphost.exe
/src/API/obj/Debug/net7.0/refint/API.dll
/src/Infra/bin/Debug/net7.0/Application.dll
/src/Infra/bin/Debug/net7.0/Application.pdb
/src/Infra/bin/Debug/net7.0/Domain.dll
/src/Infra/bin/Debug/net7.0/Domain.pdb
/src/Infra/bin/Debug/net7.0/Infra.dll
/src/Infra/bin/Debug/net7.0/Infra.pdb
/src/Infra/obj/Debug/net7.0/ref/Infra.dll
/src/Infra/obj/Debug/net7.0/refint/Infra.dll
/src/Infra/obj/Debug/net7.0/Infra.dll
/src/Infra/obj/Debug/net7.0/Infra.pdb
/tests/UnitTests/bin/Debug/net7.0/Application.dll
/tests/UnitTests/bin/Debug/net7.0/Application.pdb
/tests/UnitTests/bin/Debug/net7.0/Domain.dll
/tests/UnitTests/bin/Debug/net7.0/Domain.pdb
/tests/UnitTests/bin/Debug/net7.0/UnitTests.dll
/tests/UnitTests/bin/Debug/net7.0/UnitTests.pdb
/tests/UnitTests/obj/Debug/net7.0/refint/UnitTests.dll
/tests/UnitTests/obj/Debug/net7.0/UnitTests.dll
/tests/UnitTests/obj/Debug/net7.0/UnitTests.pdb
/tests/UnitTests/obj/Debug/net7.0/ref/UnitTests.dll
